@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(216, 96%, 64%);
  --white-color: hsl(0, 0%, 100%);
  --dark-color: hsl(216, 26%, 11%);
  --dark-color-light: hsl(216, 14%, 24%);
  --body-color: hsl(318, 100%, 98%);
  /* --primary-color: #55c2da; */
  /* --primary-color-dark: #2dd2f7; */
  --secondary-color: #ca8a04;
  /* --text-dark: #1f2937;
  --text-light: #6b7280; */
  /* --extra-light: #faf5ff; */
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --main-color: #7cf03d;
  --white-color: #fff;
  --disabled-color: #fff3;

  --max-width: 1200px;






  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "poppins", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  background-color: var(--body-color);
}


body {
  font-family: var(--body-font);
  overflow-x: hidden;
}


header {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  opacity: 0.9;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
}

.nav {
  position: relative;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-color);
}

/* .nav__logo {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;

}

.nav__logo:hover {
  color: var(--first-color);
} */

.logo-btn{
  font-family: cursive;
  font-weight: bolder;
  border-radius: 100%;
  font-size: 25px;
}
.logo-img{
  height: 50px;
  width: 75px;
}

.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1150px) {
  .nav__menu {
    position: fixed;
    top: -120%;
    left: 0;
    background-color: var(--dark-color);
    box-shadow: 0 8px 16px hsla(216, 24%, 8%, .2);
    width: 100%;
    padding-block: 4rem;
    z-index: var(--z-fixed);
    transition: top .4s;
  }
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--white-color);
  font-weight: var(--font-semi-bold);
  transition: color .4s;
}

.nav__link:hover {
  color: var(--first-color);
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

.nav__actions {
  display: flex;
  align-items: center;
  column-gap: .75rem;
}

/* Show menu */
.show-menu {
  top: 0;
}

/*=============== DROPDOWN ===============*/
.dropdown {
  position: relative;
}

.dropdown__profile {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
  cursor: pointer;
}

.dropdown__image {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  display: grid;
  justify-items: center;
}

.dropdown__image img {
  position: absolute;
  width: 38px;
  /* bottom: -1px; */
  bottom: 1px;
}

.dropdown__names h3 {
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

.dropdown__names span {
  display: block;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  text-align: right;
}

/* .dropdown__list {
  position: absolute;
  top: 4.5rem;
  background-color: var(--dark-color);
  box-shadow: 0 8px 16px hsla(216, 24%, 8%, .2);
  display: grid;
  row-gap: .25rem;
  padding: 1rem 1.25rem;
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transform: translateY(-.75rem);
  opacity: 0;
  transition: transform .4s, opacity .4s;
  pointer-events: none;
}

.dropdown__list span{
  color: white;
}

.dropdown__link {
  color: var(--white-color);
  display: flex;
  align-items: center;
  column-gap: 1rem;
  padding: .25rem 1.5rem .25rem .5rem;
  border-radius: .25rem;
  transition: background-color .4s;
}

.dropdown__link i {
  font-size: 1rem;
}

.dropdown__link span {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.dropdown__link:hover {
  background-color: var(--dark-color-light);
}

.dropdown__list::after {
  content: "";
  width: 16px;
  height: 16px;
  background-color: var(--dark-color);
  position: absolute;
  top: -8px;
  left: 0;
  right: 0;
  margin-inline: auto;
  rotate: -45deg;
}

/* Show dropdown */
/* .show-dropdown .dropdown__list {
  transform: translateY(0);
  opacity: 1;
  pointer-events: initial;
}  */

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    column-gap: 4rem;
  }

  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 3rem;
  }

  .nav__menu {
    margin-left: auto;
  }

  .dropdown__profile {
    column-gap: 1rem;
  }

  .dropdown__list {
    top: 5.5rem;
  }


}
/* carousel */
.carousel{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.carousel .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position: absolute;
    top: 25%;
    width: 1140px;
    max-width: 80%;
    left: 45%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}
.carousel .list .item .content .des{
   max-width: 70%;
}
.carousel .list .item .author{
    font-weight: bold;
    letter-spacing: 10px;
}
.carousel .list .item .title,
.carousel .list .item .topic{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.carousel .list .item .topic{
    color: #f1683a;
}
.carousel .list .item .buttons{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.carousel .list .item .buttons button{
    border: none;
    background-color: #eee;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .buttons button:nth-child(2){
    background-color: transparent;
    border: 1px solid #fff;
    color: #eee;
}
/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 85%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}

/* animation text in first item */

.carousel .list .item:nth-child(1) .content .author,
.carousel .list .item:nth-child(1) .content .title,
.carousel .list .item:nth-child(1) .content .topic,
.carousel .list .item:nth-child(1) .content .des,
.carousel .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .list .item:nth-child(1) .content .title{
    animation-delay: 1.2s!important;
}
.carousel .list .item:nth-child(1) .content .topic{
    animation-delay: 1.4s!important;
}
.carousel .list .item:nth-child(1) .content .des{
    animation-delay: 1.6s!important;
}
.carousel .list .item:nth-child(1) .content .buttons{
    animation-delay: 1.8s!important;
}
/* create animation when next click */
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img{
    z-index: 100;
}
@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}
.carousel.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}

/* running time */

.carousel .time{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;
}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .carousel .list .item .content{
        padding-right: 0;
    }
    .carousel .list .item .content .title{
        font-size: 30px;
    }
}

/* ******************** */
.header__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.header__content h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  color: var(--text-dark);
  text-align: center;
}

.header__content h1 span {
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

.header__content .section__description {
  text-align: center;
}

.header__content form {
  margin-top: 4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: var(--white);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.header__content .input__group {
  flex: 1 0 125px;
  display: grid;
  gap: 10px;
}

.header__content label {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
}

.header__content input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: transparent;
  color: var(--text-light);
}

.header__content input::placeholder {
  color: var(--text-light);
}

.header__content .btn {
  padding: 13px 15px;
  font-size: 1.75rem;
  border-radius: 1rem;
}

.header__image {
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 90px;
}

.header__image img {
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.header__image img:nth-child(1) {
  grid-area: 1/1/4/3;
}

.header__image img:nth-child(2) {
  grid-area: 4/1/7/3;
}

.header__image img:nth-child(3) {
  grid-area: 2/3/6/6;
}

.header__image img:nth-child(4) {
  position: absolute;
  top: -2rem;
  right: 5rem;
  height: 10rem;
  width: unset;
  object-fit: contain;
  aspect-ratio: 1;
  box-shadow: none;
}


